.title {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    width: 100%;
}

.progress-bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
}

.playPause-container {
    width: 100%;
    display: flex;
    justify-content: center;
}